@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ytfont;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600&display=swap");
}

@font-face {
  font-family: google;
  src: url(./assets/font/Product\ Sans\ Regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url(./assets/font/Satoshi-Regular.otf);
}
@font-face {
  font-family: robotoT;
  src: url(./assets/font/Satoshi-Medium.otf);
}
@font-face {
  font-family: kenya;
  src: url(./assets/font/kenyan\ coffee\ rg.otf);
}

::-webkit-scrollbar {
  height: 3px;
  width: 2.4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  width: 2px;
  border-radius: 50px;
  margin: 0px 550px;
  /* padding-left: 300px; */
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hide {
  display: none;
}
.show {
  display: block;
}

.player {
  aspect-ratio: 16 / 9;
  width: 100%;
}

/*  */
.lds-facebook {
  display: inline-block;
  position: relative;
  margin-top: -9px;
  width: 20px;
  height: 40px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 0px;
  width: 5px;
  border-radius: 30px;
  background: #8976f2;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 0px;
  animation-delay: -0.24s;
  background-color: #4e82ee75;
}
.lds-facebook div:nth-child(2) {
  left: 10px;
  animation-delay: -0.12s;
  background-color: #aa6eb475;
}
.lds-facebook div:nth-child(3) {
  left: 20px;
  animation-delay: 0;
  background-color: #d9657075;
}
@keyframes lds-facebook {
  0% {
    top: 15px;
    height: 30px;
  }
  50%,
  100% {
    top: 24px;
    height: 10px;
  }
}
