@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ytfont;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600&display=swap");
}

@font-face {
  font-family: google;
  src: url(./assets/font/Product\ Sans\ Regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url(./assets/font/Satoshi-Regular.otf);
}
@font-face {
  font-family: robotoT;
  src: url(./assets/font/Satoshi-Medium.otf);
}
@font-face {
  font-family: test;
  src: url(./assets/font/Diavlo_MEDIUM_II_37.otf);
}
@font-face {
  font-family: sign;
  src: url(./assets/font/Dollamin-1GlzL.ttf);
}
@font-face {
  font-family: azonix;
  src: url(./assets/font/Azonix.otf);
}
@font-face {
  font-family: book;
  src: url(./assets/font/Marmelat\ Book.otf);
}

.gradAi {
  background-image: linear-gradient(
    130deg,
    hsl(49deg 100% 69%) 0%,
    hsl(39deg 100% 66%) 5%,
    hsl(29deg 95% 64%) 10%,
    hsl(19deg 84% 61%) 15%,
    hsl(8deg 70% 59%) 20%,
    hsl(353deg 57% 53%) 25%,
    hsl(339deg 66% 42%) 30%,
    hsl(325deg 92% 30%) 35%,
    hsl(313deg 100% 22%) 40%,
    hsl(292deg 100% 17%) 45%,
    hsl(259deg 100% 15%) 50%,
    hsl(226deg 100% 19%) 55%,
    hsl(219deg 100% 22%) 60%,
    hsl(213deg 100% 24%) 65%,
    hsl(209deg 100% 26%) 70%,
    hsl(204deg 100% 28%) 75%,
    hsl(200deg 100% 29%) 80%,
    hsl(196deg 100% 30%) 85%,
    hsl(191deg 100% 31%) 90%,
    hsl(187deg 100% 32%) 95%,
    hsl(183deg 79% 36%) 100%
  );
}

#blurred {
  position: absolute;
  align-self: center;
  filter: blur(10px);
  width: 130%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  opacity: 0.5;
}

::-webkit-scrollbar {
  height: 3px;
  width: 2.4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  width: 2px;
  border-radius: 50px;
  margin: 0px 550px;
  /* padding-left: 300px; */
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.iframe-container {
  position: relative; /* Necessary for proper shadow placement */
  display: inline-block; /* Adjust as needed for your layout */
}

.iframe-container::after {
  content: "";
  position: absolute;
  inset: 0; /* Top, right, bottom, left */
  /* Adjust shadow properties as desired */
  background: rgba(0, 0, 0, 0.2); /* Semi-transparent black for shadow */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15); /* Subtle blur */
  border-radius: 4px; /* Rounded corners for a smooth look */
  z-index: -1; /* Place behind the iframe to avoid overlapping content */
}

.iframe {
  /* Adjust iframe styles as needed (width, height, etc.) */
  border: none; /* Remove default iframe border */
}

.hide {
  display: none;
}
.show {
  display: block;
}

.player {
  aspect-ratio: 16 / 9;
  width: 100%;
}

/*  */
.lds-facebook {
  display: inline-block;
  position: relative;
  margin-top: -9px;
  width: 20px;
  height: 40px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 0px;
  width: 5px;
  border-radius: 30px;
  background: #8976f2;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 0px;
  animation-delay: -0.24s;
  background-color: #4e82ee75;
}
.lds-facebook div:nth-child(2) {
  left: 10px;
  animation-delay: -0.12s;
  background-color: #aa6eb475;
}
.lds-facebook div:nth-child(3) {
  left: 20px;
  animation-delay: 0;
  background-color: #d9657075;
}
@keyframes lds-facebook {
  0% {
    top: 15px;
    height: 30px;
  }
  50%,
  100% {
    top: 24px;
    height: 10px;
  }
}
